.requestForm {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 5px;
  width: max-content;
  gap: 5px;
}
.requestFormInputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}
.errorRow {
  justify-content: flex-end;
  color: red;
}
.requestFormInputWrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.title {
  align-self: center;
}

.taxiRideDiv {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 5px;
  gap: 5px;
}
.ridesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.taxiDiv {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 5px;
  width: max-content;
  gap: 5px;
}
.taxi {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.ride {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.taxisContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.request {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.reqContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.reqDiv {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  padding: 5px;
  gap: 5px;
}
