.requestForm {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 5px;
  width: max-content;
  gap: 5px;
}
.requestFormInputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.requestFormLabels {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.requestFormInputWrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.formTitle {
  align-self: center;
}

.taxiRideDiv {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 5px;
  gap: 5px;
}
.ridesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.taxiDiv {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 5px;
  width: max-content;
  gap: 5px;
}
.taxi {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.ride {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.taxisContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
